<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Диплом</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=c5478f24-6c68-4155-a9bd-78cd96cca754&lang=ru_RU" type="text/javascript">
    </script>
    <script src="https://yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>
</head>

<body>
    <header class="header">
        <div class="container flex header-container">
            <div class="header-upper-content flex">
                <a href="@Url.Action("Index")" class="header-logo">
                    <img src="/img/logo.png" alt="logo" class="header-logo-image">
                </a>
            </div>
            <div class="header-bottom-content flex">
                <nav class="header-nav flex">
                    <ul class="list-resert header-list flex">
                        <li class="header-list-item">
                            <a href="@Url.Action("Index")" class="header-link">
                                Главная
                            </a>
                        </li>
                        <li class="header-list-item">
                            <a href="@Url.Action("AboutUs")" class="header-link">
                                О&nbsp;нас
                            </a>
                        </li>
                        <li class="header-list-item">
                            <a href="@Url.Action("AdsMap")" class="header-link">
                                Объявления
                            </a>
                        </li>
                        <li class="header-list-item">
                            <a href="@Url.Action("Contacts")" class="header-link">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="header-btns">
                    @{
                        if (this.User.Identity.IsAuthenticated)
                        {
                            <a href="@Url.Action("Logout")"
                           class="header-button header-button-want-tour standart-btn"> Выход </a>
                        }
                        else
                        {
                            <a href="@Url.Action("LoginView")"
                           class="header-button header-button-want-tour standart-btn"> Войти </a>

                            <a href="@Url.Action("Registration")"
                           class="header-button header-button-want-tour standart-btn"> Регистрация </a>
                        }
                    }
                </div>
            </div>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
    </footer>
</body>

</html>